@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: black !important;
  border: none !important;
  font-family: 'Poppins' !important;
  box-shadow: 0 0 0px 1000px "#D1E4D0" inset !important;
}

.App {
  text-align: center;

}


/* Custom styles for Swiper navigation arrows */


:root {
  --swiper-pagination-color: rgb(88, 167, 91, 0.7);
  --swiper-pagination-size: 10px;
  --swiper-pagination-top-offset: 0px;
  --swiper-pagination-margin: 0px;
  --swiper-pagination-padding: 0px;

  --swiper-navigation-size: 10px;
  --swiper-navigation-top-offset: 45%;
  --swiper-navigation-sides-offset: 0px;
  --swiper-navigation-color: rgb(88, 167, 91, 0.7);
}