@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: black !important;
  border: none !important;
  font-family: 'Poppins' !important;
  box-shadow: 0 0 0px 1000px "#D1E4D0" inset !important;
}

.App {
  text-align: center;
  
}


/* Custom styles for Swiper navigation arrows */
.swiper-button-prev,
.swiper-button-next {
  /* background-color: #000; Arrow background color */
  color: black !important; 

  /* Makes the arrows circular */
  /* width: 10px !important;

  height: 10px !important;
margin: 0px 0px !important; */
  /* Arrow height */

  /* opacity: 0.75; */
  /* top: 50% !important; */
  /* margin-left: -10px !important; */
  /* Arrow opacity */
  /* transition: opacity 0.3s; */
  /* Smooth transition for hover effect */
}

/* 
/* z */

/* Example of changing the arrow icons */