@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: black !important;
  border: none !important;
  font-family: 'Poppins' !important;
  box-shadow: 0 0 0px 1000px "#D1E4D0" inset !important;
}

.App {
  text-align: center;
}

/* .image-gallery-style {
  box-shadow: none !important;
} */

.slick-prev:before,
.slick-next:before {
  color: grey !important;
}

/* .image-gallery-left-nav,
.image-gallery-right-nav {
  transform: scale(0.75);
  width: 20px;
  height: 10px;
} */


/* In your CSS file */
.image-gallery-play-button {
  color: #fff;
  /* Change the color */
  background: #000;
  /* Change the background */
  border-radius: 50%;
  /* Make it round */
  /* Add other styles as needed */
}

.image-gallery-play-button:hover {
  background: #555;
  /* Change the hover background */
}